body {
  background-color: #2c2828;
  color: rgb(207, 202, 202);
  font-family: sans-serif;
}
.loading-animation {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 5px solid rgb(49, 7, 235, 0.1);
  border-top: 5px solid rgb(49, 7, 235);
  border-radius: 50%;
  animation: circle-loader 0.4s infinite linear;
}
@keyframes circle-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  color: rgb(49, 7, 235);
  display: flex;
  width: 110px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
